.table {
    padding: 0.5rem;
    margin-bottom: 15rem;
}

.icones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.icones path {
    stroke: #FFF;
}

@media (max-width: 600px) {
    .icones {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.changeColor path:hover {
    stroke: rgb(148, 205, 116);
}

.linha {
   border-bottom: 1px solid #000;
}